<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">

  <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
        integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
        crossorigin="anonymous">

  <title>Paris 2024</title>

  <style>
    body {
      padding-top: 50px;
    }

    .special {
      padding-top: 50px;
    }
  </style>
</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/championnats">Retour</a>
    </div>
  </div>
</nav>


<div class="container special">

  <h2 class="h2">Modification d'un championnat</h2>
  <div>
    <form method="post"
          th:action="@{/saveChampionnat}" th:object="${championnat}">
      <div class="form-group">
        <input
                type="hidden" th:field="*{id}" class="form-control">
      </div>
      <div class="form-group">
        <label for="libelleInput">libelle</label>
        <input
                type="text" th:field="*{libelle}" class="form-control" id="libelleInputInput"
                aria-describedby="libelleInputHelp" placeholder="Saisir le libelle"> <small
              id="libelleInputHelp" class="form-text text-muted">Merci d'écrire le libelle du championnat</small>
      </div>

      <div class="form-group">
        <label for="lieuInput">lieu</label>
        <input
                type="text" th:field="*{lieu}" class="form-control" id="lieuInputInput"
                aria-describedby="lieuInputHelp" placeholder="Saisir le lieu"> <small
              id="lieuInputHelp" class="form-text text-muted">Merci d'écrire le lieu du championnat</small>
      </div>

      <div class="form-group">
        <label for="dateInput">date</label>
        <input
                type="text" th:field="*{dateChampionnat}" class="form-control" id="dateInputInput"
                aria-describedby="dateInputHelp" placeholder="Saisir le date"> <small
              id="dateInputHelp" class="form-text text-muted">Merci d'écrire la date du championnat</small>
      </div>


      <button type="submit" class="btn btn-primary">Modifier</button>
    </form>
  </div>

</div>

<script
        src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script
        src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
</body>
</html>